h1, h2, h3, h4, h5, h6, p{
    color: white;
}
h1, h2, h3, h4, h5, h6{
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Oswald", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.adminPanel{
    height: auto;
    width: 100%;
    background: black;
    padding-bottom: 10vw;
}




section.adminPanelContainerPage{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 0;
}
.adminPanelContentPage{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.admnpnlcp.left{
    height: auto;
    width: 20%;
    padding: 1%;
    background: rgb(20, 20, 20);
    border-radius: 1vw;
}
.admnpnlcplHeader{
    height: auto;
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admnpnlcplHeader img{
    height: 3.5vw;
    width: 3.5vw;
    margin-right: 7%;
}
.admnpnlcplHeader span h5{
    font-size: 1.2vw;
    line-height: 1.5vw;
}
.admnpnlcplHeader span h6{
    font-weight: 400;
    line-height: 1vw;
    color: gray;
}





.admnpnlcplNavigations{
    height: auto;
    width: 100%;
    margin-top: 10%;
}
.admnpnlcplNavigations button{
    width: 100%;
    padding: 3% 5%;
    margin-bottom: 2%;
    text-align: left;
    border-radius: 10px;
    background: none;
    border: none;
    outline: none;
    opacity: 25%;
    transition: 400ms ease;
    cursor: pointer;
}
.admnpnlcplNavigations button h6{
    font-size: 0.9vw;
    font-weight: 400;
}
.admnpnlcplNavigations button.active{
    opacity: 100%;
    background: rgb(30, 30, 30);
    transition: 400ms ease;
}
.admnpnlcplNavigations button:hover{
    opacity: 100%;
    background: rgb(30, 30, 30);
    transition: 400ms ease;
}
.admnpnlcplnOthers{
    height: auto;
    width: 100%;
    background: rgb(25, 25, 25);
    border-radius: 0.5vw;
    padding: 3%;
}
.admnpnlcplnOthers h6#admnpnlcplnoNavs{
    width: 100%;
    padding: 3% 5%;
    margin-bottom: 3%;
    text-align: left;
    border-radius: 10px;
}





.admnpnlcp.right{
    height: auto;
    width: 75%;
    background: rgb(20, 20, 20);
    border-radius: 1vw;
    padding: 1% 2%;
    padding-bottom: 5%;
}


.admnpnlcprContainer{
    height: auto;
    width: 100%;
}
.admnpnlcprContainer h4{
    text-transform: uppercase;
}
.admnpnlcprContainer p{
    color: gray;
    font-size: 0.7vw;
}


.admnpnlcprNavigation{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3% 0;
}
.admnpnlcprNavigation button{
    background: none;
    color: white;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: solid 2px transparent;
    margin-right: 3%;
    opacity: 50%;
    font-size: 0.9vw;
    font-family: "Oswald", sans-serif;
    transition: 400ms ease;
    cursor: pointer;
}
.admnpnlcprNavigation button.active{
    opacity: 100%;
    border-bottom: solid 2px white;
    transition: 400ms ease;
}
.admnpnlcprNavigation button:hover{
    opacity: 100%;
    transition: 400ms ease;
}



.admnpnlcprContents{
    height: auto;
    width: 100%;
}
.admnpnlcprcNumSummary{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcNumSummary div{
    height: auto;
    width: 19%;
    padding: 2%;
    border: solid 2px gray;
    border-radius: 1vw;
}
.admnpnlcprcNumSummary div h6{
    font-weight: 400;
    font-size: 0.7vw;
    color: gray;
    margin-top: 2%;
}
.admnpnlcprc.graphData{
    height: auto;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.admnpnlcprcgd.left{
    height: auto;
    width: 60%;
}
.admnpnlcprcgdlHeader,
.admnpnlcprcgdrHeader{
    height: 2.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcgdlHeader div{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.admnpnlcprcgdlHeader div select{
    background: rgb(20, 20, 20);
    border: solid 2px whitesmoke;
    color: white;
    margin-left: 3%;
    padding: 2px 5px;
    border-radius: 8px;
}
.admnpnlcprcgd.right{
    height: auto;
    width: 35%;
}
.admnpnlcprcgdrPublished{
    height: 265px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.admnpnlcprcgdrpEmpty{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30, 30, 30);
    border-radius: 1vw;
}
.admnpnlcprcgdrpEmpty span p{
    opacity: 50%;
}



.admnpnlcprc.sTouristSpot,
.admnpnlcprc.sMovieReview{
    height: auto;
    width: 100%;
    margin-top: 3%;
}
.admnpnlcprcsrsContainer,
.admnpnlcprcsmrContainer{
    height: 15vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}


.admnpnlcprcsrscEmpty{
    height: 15vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30, 30, 30);
    border-radius: 1vw;
}
.admnpnlcprcsrscEmpty span p{
    opacity: 50%;
}








.admnpnlcprc.capital{
    height: auto;
    width: 100%;
    margin-top: 3%;
}
.admnpnlcprc.capital h5{
    font-size: 1.2vw;
}
.admnpnlcprccapitalContainer{
    height: auto;
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.admnpnlcprcccContents.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcccContents.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcccContents.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcccContents.left div select,
.admnpnlcprcccContents.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: white;
    border-radius: 10px;
}
.admnpnlcprcccContents.left div select option{
    background: black;
}
.admnpnlcprcccContents.left div.admnpnlcprcccCountry{
    height: auto;
    width: 100%;
    position: relative;
}
.admnpnlcprcccSuggestions{
    position: absolute;
    height: 10vw;
    width: 100%;
    top: 3.3vw;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 5px 10px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(30, 30, 30);
    overflow-y: scroll;
}
.admnpnlcprcccSuggestions ul{
    height: auto;
    width: 100%;
    list-style: none;
}
.admnpnlcprcccSuggestions ul li{
    color: whitesmoke;
    padding: 4% 5%;
    font-size: 0.7vw;
    cursor: pointer;
    border-radius: 5px;
}
.admnpnlcprcccSuggestions ul li:hover{
    background: rgba(20, 20, 20);
    transition: 400ms ease;
}









.admnpnlcprcccContents.right{
    height: auto;
    width: 65%;
}
.admnpnlcprccccr{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprccccr div{
    width: 49%;
    margin-bottom: 1vw;
}
.admnpnlcprccccr div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprccccr div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: white;
    border-radius: 10px;
}


.admnpnlcprccccrImg{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprccccrImg div{
    height: auto;
    width: 32%;
}
.admnpnlcprccccrImg div h6{
    margin-left: 2%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
    margin-bottom: 0.3vw;
}
.admnpnlcprccccrImg div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: white;
    border-radius: 10px;
}
.admnpnlcprccapitalBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprccapitalBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprccapitalBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprccapitalBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprccapitalBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}















.admnpnlcprContainer.addArticle{
    height: auto;
    width: 100%;
}
.admnpnlcprcAddArticle{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3%;
}
.admnpnlcprcaa.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcaa.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcaa.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcaa.left div select,
.admnpnlcprcaa.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: white;
    border-radius: 10px;
}
.admnpnlcprcaa.left div select option{
    background: black;
}







.admnpnlcprcaa.right{
    height: auto;
    width: 65%;
}
.admnpnlcprcaa.right div h6{
    margin-left: 2%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcaarHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcaarHeader div{
    width: 49%;
}
.admnpnlcprcaarHeader div textarea{
    height: 5vw;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: white;
    border-radius: 10px;
    resize: none;
}
.admnpnlcprcaarContent{
    height: auto;
    width: 100%;
    margin-top: 2%;
}
.admnpnlcprcaarContent textarea{
    height: 16.5vw;
    width: 100%;
    padding: 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: white;
    border-radius: 10px;
    resize: none;
}
.admnpnlcprcaaBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprcaaBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprcaaBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprcaaBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprcaaBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}

