h1, h2, h3, h4, h5, h6, p{
    color: black;
}
h1, h2, h3, h4, h5, h6{
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Oswald", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.adminPanel{
    height: auto;
    width: 100%;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}




section.adminPanelContainerPage{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 0;
}
.adminPanelContentPage{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.admnpnlcp.left{
    height: 42.7vw;
    width: 20%;
    padding: 1%;
    background: rgb(230, 230, 230);
    border-radius: 1vw;
}
.admnpnlcplHeader{
    height: auto;
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admnpnlcplHeader img{
    height: 3.5vw;
    width: 3.5vw;
    margin-right: 7%;
}
.admnpnlcplHeader span h5{
    font-size: 1.2vw;
    line-height: 1.5vw;
}
.admnpnlcplHeader span h6{
    font-weight: 400;
    line-height: 1vw;
    color: gray;
}





.admnpnlcplNavigations{
    height: auto;
    width: 100%;
    margin-top: 10%;
}
.admnpnlcplNavigations button{
    width: 100%;
    padding: 3% 5%;
    margin-bottom: 2%;
    text-align: left;
    border-radius: 10px;
    background: none;
    border: none;
    outline: none;
    opacity: 25%;
    transition: 400ms ease;
    cursor: pointer;
}
.admnpnlcplNavigations button h6{
    font-size: 0.9vw;
    font-weight: 400;
}
.admnpnlcplNavigations button.active{
    opacity: 100%;
    background: rgb(250, 250, 250);
    transition: 400ms ease;
}
.admnpnlcplNavigations button:hover{
    opacity: 100%;
    background: rgb(230, 230, 230);
    transition: 400ms ease;
}
.admnpnlcplnOthers{
    height: auto;
    width: 100%;
    background: rgb(250, 250, 250);
    border-radius: 0.5vw;
    padding: 3%;
}
.admnpnlcplnOthers h6#admnpnlcplnoNavs{
    width: 100%;
    padding: 3% 5%;
    margin-bottom: 3%;
    text-align: left;
    border-radius: 10px;
}
.admnpnlcplnOthers button.active{
    background: rgb(230, 230, 230);
}




.admnpnlcp.right{
    height: 42.7vw;
    width: 75%;
    background: rgb(230, 230, 230);
    border-radius: 1vw;
    padding: 1% 2%;
    overflow-x: hidden;
    overflow-y: scroll;
}


.admnpnlcprContainer{
    height: auto;
    width: 100%;
    position: relative;
}
.admnpnlcprContainer h4{
    text-transform: uppercase;
}
.admnpnlcprContainer p{
    color: gray;
    font-size: 0.7vw;
}


.admnpnlcprNavigation{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3% 0;
}
.admnpnlcprNavigation button{
    background: none;
    color: black;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: solid 2px transparent;
    margin-right: 3%;
    opacity: 50%;
    font-size: 0.9vw;
    font-family: "Oswald", sans-serif;
    transition: 400ms ease;
    cursor: pointer;
}
.admnpnlcprNavigation button.active{
    opacity: 100%;
    border-bottom: solid 2px black;
    transition: 400ms ease;
}
.admnpnlcprNavigation button:hover{
    opacity: 100%;
    transition: 400ms ease;
}



.admnpnlcprContents{
    height: auto;
    width: 100%;
}
.admnpnlcprcNumSummary{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcNumSummary div{
    height: auto;
    width: 19%;
    padding: 2%;
    border: solid 2px gray;
    border-radius: 1vw;
}
.admnpnlcprcNumSummary div h6{
    font-weight: 400;
    font-size: 0.7vw;
    color: gray;
    margin-top: 2%;
}
.admnpnlcprc.graphData{
    height: auto;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.admnpnlcprcgd.left{
    height: auto;
    width: 60%;
}
.admnpnlcprcgdlHeader,
.admnpnlcprcgdrHeader{
    height: 2.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcgdlHeader div{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.admnpnlcprcgdlHeader div select{
    background: gray;
    border: solid 2px whitesmoke;
    color: white;
    margin-left: 3%;
    padding: 2px 5px;
    border-radius: 8px;
}
.admnpnlcprcgd.right{
    height: auto;
    width: 35%;
}
.admnpnlcprcgdrPublished{
    height: 265px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.admnpnlcprcgdrpEmpty{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);
    border-radius: 1vw;
}
.admnpnlcprcgdrpEmpty span p{
    opacity: 50%;
}



.admnpnlcprc.sTouristSpot,
.admnpnlcprc.sMovieReview{
    height: auto;
    width: 100%;
    margin-top: 3%;
}
.admnpnlcprcsrsContainer,
.admnpnlcprcsmrContainer{
    height: 15vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}


.admnpnlcprcsrscEmpty{
    height: 15vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);
    border-radius: 1vw;
}
.admnpnlcprcsrscEmpty span p{
    opacity: 50%;
}








.admnpnlcprc.capital{
    height: auto;
    width: 100%;
    margin-top: 3%;
}
.admnpnlcprc.capital h5{
    font-size: 1.2vw;
}
.admnpnlcprccapitalContainer{
    height: auto;
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.admnpnlcprcccContents.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcccContents.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcccContents.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcccContents.left div select,
.admnpnlcprcccContents.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcccContents.left div select option{
    background: gray;
}
.admnpnlcprcccContents.left div.admnpnlcprcccCountry{
    height: auto;
    width: 100%;
    position: relative;
}
.admnpnlcprcccSuggestions{
    position: absolute;
    height: 10vw;
    width: 100%;
    top: 3.3vw;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 5px 10px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(30, 30, 30);
    overflow-y: scroll;
}
.admnpnlcprcccSuggestions ul{
    height: auto;
    width: 100%;
    list-style: none;
}
.admnpnlcprcccSuggestions ul li{
    color: whitesmoke;
    padding: 4% 5%;
    font-size: 0.7vw;
    cursor: pointer;
    border-radius: 5px;
}
.admnpnlcprcccSuggestions ul li:hover{
    background: rgba(20, 20, 20);
    transition: 400ms ease;
}









.admnpnlcprcccContents.right{
    height: auto;
    width: 65%;
}
.admnpnlcprccccr{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprccccr div{
    width: 49%;
    margin-bottom: 1vw;
}
.admnpnlcprccccr div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprccccr div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: white;
    border-radius: 10px;
}


.admnpnlcprccccrImg{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprccccrImg div{
    height: auto;
    width: 32%;
}
.admnpnlcprccccrImg div h6{
    margin-left: 2%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
    margin-bottom: 0.3vw;
}
.admnpnlcprccccrImg div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: white;
    border-radius: 10px;
}
.admnpnlcprccapitalBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprccapitalBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprccapitalBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprccapitalBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprccapitalBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}















.admnpnlcprContainer.addArticle{
    height: auto;
    width: 100%;
}
.admnpnlcprcAddArticle{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3%;
}
.admnpnlcprcaa.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcaa.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcaa.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcaa.left div select,
.admnpnlcprcaa.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcaa.left div select option{
    background: black;
}







.admnpnlcprcaa.right{
    height: auto;
    width: 65%;
}
.admnpnlcprcaa.right div h6{
    margin-left: 2%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcaarHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcaarHeader div{
    width: 49%;
}
.admnpnlcprcaarHeader div textarea{
    height: 5vw;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: white;
    border-radius: 10px;
    resize: none;
}
.admnpnlcprcaarContent{
    height: auto;
    width: 100%;
    margin-top: 2%;
}
.admnpnlcprcaarContent textarea{
    height: 20vw;
    width: 100%;
    padding: 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
    resize: none;
}
.admnpnlcprcaaBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprcaaBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprcaaBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprcaaBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprcaaBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}




.admnpnlcprDataList{
    height: auto;
    width: 100%;
    margin-top: 3%;
}
.admnpnlcprDataList table{
    height: auto;
    width: 100%;
}
.admnpnlcprDataList table thead tr th{
    text-align: center;
    padding: 0.2vw 0.5vw;
}
.admnpnlcprDataTable{
    height: 32vw;
    width: 100%;
    background: rgb(220, 220, 220);
    border-radius: 0.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.admnpnlcprDataTable h6{
    text-align: center;
    margin: 1vw 0;
}
.admnpnlcprDataTable table{
    height: auto;
    width: 100%;
    text-align: center;
}
.admnpnlcprDataTable table tbody tr:nth-child(odd) {
    background: rgb(210, 210, 210);
}
.admnpnlcprDataTable table tbody tr:nth-child(even) {
    background: rgb(200, 200, 200);
}
.admnpnlcprDataTable table tbody tr td{
    padding: 0.5vw 0.2vw;
}
.admnpnlcprDataTable table tbody tr td p{
    font-size: 0.6vw;
}
.admnpnlcprDataTable table tbody tr td.tdCenter{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admnpnlcprDataTableEmpty{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}








.admnpnlcprContainer.addAirline button#airlineList{
    position: absolute;
    top: 1vw;
    right: 1vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admnpnlcprcAddAirline{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3%;
}
.admnpnlcprcaairline.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcaairline.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcaairline.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcaairline.left div select,
.admnpnlcprcaairline.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcaairline.left div select option{
    background: gray;
}

.admnpnlcprcaairlinelImg{
    height: 12vw;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    overflow: hidden;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
}
.admnpnlcprcaairlinelImg img{
    height: auto;
    width: 100%;
}




.admnpnlcprcaairline.right{
    height: auto;
    width: 65%;
}
.admnpnlcprcaairline.right div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcaairlinerHeader{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcaairlinerHeader div{
    width: 49%;
    margin-bottom: 1vw;
}
.admnpnlcprcaairlinerHeader div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcaairlinerContent{
    height: auto;
    width: 100%;
}
.admnpnlcprcaairlinerContent textarea{
    height: 19.3vw;
    width: 100%;
    padding: 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
    resize: none;
}


.admnpnlcprcaairlineBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprcaairlineBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprcaairlineBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprcaairlineBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprcaairlineBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}









.admnpnlcprContainer.addAirport button#aiportList{
    position: absolute;
    top: 1vw;
    right: 1vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admnpnlcprcAddAirport{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3%;
}
.admnpnlcprcaairport.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcaairport.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcaairport.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcaairport.left div select,
.admnpnlcprcaairport.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcaairport.left div select option{
    background: gray;
}
.admnpnlcprcaairportlImg{
    height: 12vw;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    overflow: hidden;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
}
.admnpnlcprcaairportlImg img{
    height: auto;
    width: 100%;
}

.admnpnlcprcaairport.right{
    height: auto;
    width: 65%;
}
.admnpnlcprcaairport.right div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcaairportrHeader{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcaairportrHeader div{
    width: 49%;
    margin-bottom: 1vw;
}
.admnpnlcprcaairportrHeader div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcaairportrContent{
    height: auto;
    width: 100%;
}
.admnpnlcprcaairportrContent textarea{
    height: 19.3vw;
    width: 100%;
    padding: 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
    resize: none;
}


.admnpnlcprcaairportBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprcaairportBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprcaairportBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprcaairportBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprcaairportBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}








.admnpnlcprContainer.addTelecastChannel button#channelList{
    position: absolute;
    top: 1vw;
    right: 1vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admnpnlcprctelecastNav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3% 0;
}
.admnpnlcprctelecastNav button{
    background: none;
    color: black;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: solid 2px transparent;
    margin-right: 3%;
    opacity: 50%;
    font-size: 0.9vw;
    font-family: "Oswald", sans-serif;
    transition: 400ms ease;
    cursor: pointer;
}
.admnpnlcprctelecastNav button.active{
    opacity: 100%;
    border-bottom: solid 2px black;
    transition: 400ms ease;
}
.admnpnlcprctelecastNav button:hover{
    opacity: 100%;
    transition: 400ms ease;
}

.admnpnlcprcAddLiveChannel{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3%;
}


.admnpnlcprcalivechannel.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcalivechannel.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcalivechannel.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcalivechannel.left div select,
.admnpnlcprcalivechannel.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcalivechannel.left div select option{
    background: gray;
}



.admnpnlcprcalivechannel.right{
    height: auto;
    width: 65%;
}
.admnpnlcprcalivechannel.right div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcalivechannelrHeader{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcalivechannelrHeader div{
    width: 49%;
    margin-bottom: 1vw;
}
.admnpnlcprcalivechannelrHeader div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcalivechannelrContent{
    height: auto;
    width: 100%;
}
.admnpnlcprcalivechannelrContent textarea{
    height: 12vw;
    width: 100%;
    padding: 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
    resize: none;
}


.admnpnlcprcalivechannelBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprcalivechannelBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprcalivechannelBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprcalivechannelBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprcalivechannelBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}





.admnpnlcprcAddYoutubeChannel{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3%;
}


.admnpnlcprcayoutubechannel.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcayoutubechannel.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcayoutubechannel.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcayoutubechannel.left div select,
.admnpnlcprcayoutubechannel.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcayoutubechannel.left div select option{
    background: gray;
}



.admnpnlcprcayoutubechannel.right{
    height: auto;
    width: 65%;
}
.admnpnlcprcayoutubechannel.right div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcayoutubechannelrHeader{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcayoutubechannelrHeader div{
    width: 49%;
    margin-bottom: 1vw;
}
.admnpnlcprcayoutubechannelrHeader div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcayoutubechannelrContent{
    height: auto;
    width: 100%;
}
.admnpnlcprcayoutubechannelrContent textarea{
    height: 12vw;
    width: 100%;
    padding: 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
    resize: none;
}


.admnpnlcprcayoutubechannelBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprcayoutubechannelBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprcayoutubechannelBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprcayoutubechannelBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprcayoutubechannelBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}









.admnpnlcprContainer.addMagazine button#magazineList{
    position: absolute;
    top: 1vw;
    right: 1vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admnpnlcprcAddMagazine{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3%;
}
.admnpnlcprcamagazine.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcamagazine.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcamagazine.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcamagazine.left div select,
.admnpnlcprcamagazine.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcamagazine.left div select option{
    background: gray;
}

.admnpnlcprcamagazine.right{
    height: auto;
    width: 65%;
}
.admnpnlcprcamagazine.right div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcamagazinerHeader{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcamagazinerHeader div{
    width: 49%;
    margin-bottom: 1vw;
}
.admnpnlcprcamagazinerHeader div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcamagazinerContent{
    height: auto;
    width: 100%;
}
.admnpnlcprcamagazinerContent textarea{
    height: 12vw;
    width: 100%;
    padding: 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
    resize: none;
}

.admnpnlcprcamagazineBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprcamagazineBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprcamagazineBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprcamagazineBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprcamagazineBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}








.admnpnlcprContainer.addNewspaper button#newspaperList{
    position: absolute;
    top: 1vw;
    right: 1vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admnpnlcprcAddNewspaper{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3%;
}
.admnpnlcprcanewspaper.left{
    height: auto;
    width: 30%;
}
.admnpnlcprcanewspaper.left div{
    margin-bottom: 1vw;
}
.admnpnlcprcanewspaper.left div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcanewspaper.left div select,
.admnpnlcprcanewspaper.left div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcanewspaper.left div select option{
    background: gray;
}

.admnpnlcprcanewspaper.right{
    height: auto;
    width: 65%;
}
.admnpnlcprcanewspaper.right div h6{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 0.7vw;
    font-weight: 600;
    color: gray;
}
.admnpnlcprcanewspaperrHeader{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admnpnlcprcanewspaperrHeader div{
    width: 49%;
    margin-bottom: 1vw;
}
.admnpnlcprcanewspaperrHeader div input{
    height: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
}
.admnpnlcprcanewspaperrContent{
    height: auto;
    width: 100%;
}
.admnpnlcprcanewspaperrContent textarea{
    height: 12vw;
    width: 100%;
    padding: 10px;
    font-size: 0.7vw;
    border: solid 2px gray;
    outline: none;
    background: none;
    color: black;
    border-radius: 10px;
    resize: none;
}

.admnpnlcprcanewspaperBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.admnpnlcprcanewspaperBtn p{
    width: 83%;
    text-align: center;
}
.admnpnlcprcanewspaperBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
}
.admnpnlcprcanewspaperBtn button h6{
    font-size: 0.9vw;
    font-weight: 600;
}
.admnpnlcprcanewspaperBtn button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: red;
    border: solid 2px red;
}










