h1, h2, h3, h4, h5, h6, p{
    color: black;
}
h1, h2, h3, h4, h5, h6{
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Oswald", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.home{
    height: auto;
    width: 100%;
    background: white;
    padding-bottom: 10vw;
}

/*----- Landing Section -----*/





.allLoaderContainer{
    height: 100vh;
    width: 100%;
    background: url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    text-align: center;
}
.allLoaderContainer.active{
    top: 0;
    left: 0;
    opacity: 1;
    transition: 600ms ease;
}
.allLoaderContainer.disable{
    opacity: 0;
    top: -100%;
    left: 0;
    transition: 800ms ease;
}
.loaderContent{
    height: auto;
    width: 100%;
}
.loaderContent img{
    height: 15vw;
    display: flex;
    margin: 0 auto;
}
.loaderContent p{
    color: black;
    font-family: "Oswald", sans-serif;
}














section.mainContainerPage.top{
    height: auto;
    width: 100%;
    padding: 4vw 5vw;
    padding-bottom: 2vw;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}




.mainContentPage.fullMap{
    height: 43.3vw;
    width: 100%;
    overflow: hidden;
    background: rgb(20, 20, 20);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mncntntpfmSearch{
    position: absolute;
    height: auto;
    width: 20%;
    top: 1vw;
    right: 1.5vw;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-radius: 50px;
    overflow: hidden;
    background: rgba(100, 100, 100, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.mncntntpfmSearch input{
    width: 90%;
    background: none;
    border: none;
    outline: none;
    padding-left: 5px;
    color: white;
    font-size: 0.7vw;
}
.mncntntpfmSearch h5{
    font-size: 0.9vw;
}
.mncntntpfSuggestedCountry{
    position: absolute;
    height: auto;
    width: 20%;
    top: 3vw;
    right: 1.5vw;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(30, 30, 30);
}
.mncntntpfSuggestedCountry ul{
    height: auto;
    width: 100%;
    list-style: none;
}
.mncntntpfSuggestedCountry ul li{
    color: whitesmoke;
    padding: 4% 5%;
    font-size: 0.7vw;
    cursor: pointer;
    border-radius: 5px;
}
.mncntntpfSuggestedCountry ul li:hover{
    background: rgba(20, 20, 20);
    transition: 400ms ease;
}




















.mncntntpfmSuggested{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5%;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    transition: 400ms ease;
    z-index: 3;
}
.mncntntpfmSuggested.hide{
    left: -24%;
    transition: 400ms ease;
}
.mncntntpfmSuggested button{
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 2vw;
    cursor: pointer;
}
.mncntntpfmsggstd,
.mncntntpfmsggstdCountry{
    height: 100%;
    width: 90%;
    background: rgba(100, 100, 100, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 0.5vw;
    padding: 5%;
    position: relative;
    opacity: 0;
    transition: 400ms ease;
}
.mncntntpfmsggstd.active,
.mncntntpfmsggstdCountry.active{
    opacity: 100%;
    transition: 400ms ease;
}
.mncntntpfmsggstdSearch{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mncntntpfmsggstdSearch input{
    width: 90%;
    padding: 5px 15px;
    border-radius: 50px;
    background: none;
    border: solid 2px gray;
    outline: none;
    color: white;
    font-size: 0.7vw;
}
.mncntntpfmsggstdTopic{
    height: auto;
    width: 100%;
    margin: 3% 0;
    padding: 2%;
}
.mncntntpfmsggstdTopic h6{
    margin-bottom: 2%;
}
.mncntntpfmsggstdTopic.explore div{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
.mncntntpfmsggstdTopic.explore div a{
    padding: 1% 5%;
    background: gray;
    border-radius: 50px;
    text-decoration: none;
    margin: 1%;
}
.mncntntpfmsggstdTopic.explore div a:hover{
    background: red;
    transition: 400ms ease;
}
.mncntntpfmsggstdTopic.explore div a p{
    font-size: 0.7vw;
}
.mncntntpfmsggstdta{
    height: auto;
    width: 100%;
}
.mncntntpfmsggstdtaContent{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background: rgb(20, 20, 20);
    border-radius: 10px;
    margin-bottom: 2%;
}
.mncntntpfmsggstdtaContent div{
    height: 4vw;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
}
.mncntntpfmsggstdtaContent div img{
    height: 100%;
}
.mncntntpfmsggstdtaContent span{
    width: 55%;
}
.mncntntpfmsggstdtaContent span p{
    font-size: 0.7vw;
    color: gray;
}
.mncntntpfmsggstdtaContent span h6{
    font-size: 0.9vw;
    line-height: 1vw;
}
.mncntntpfmMinimize{
    position: absolute;
    height: auto;
    bottom: 1vw;
    right: 1.5vw;
    z-index: 5;
}
.mncntntpfmMinimize button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 2vw;
    cursor: pointer;
}
.mncntntpfmMinimize button:hover{
    color: red;
    transition: 400ms ease;
}





.mncntntpfmsggstdcHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}
.mncntntpfmsggstdcHeader div{
    height: auto;
    width: 73%;
}
.mncntntpfmsggstdcHeader div h5{
    line-height: 1.5vw;
}
.mncntntpfmsggstdcHeader div h6{
    font-size: 0.9vw;
    line-height: 1vw;
    font-weight: 400;
    margin-top: 1%;
    color: gray;
}
.mncntntpfmsggstdcHeader span{
    height: 3vw;
    width: 25%;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpfmsggstdcHeader span img{
    height: 100%;
    width: 100%;
}
.mncntntpfmsggstdcSubHeader{
    height: auto;
    width: 100%;
    margin-top: 5%;
}
.mncntntpfmsggstdcshDes{
    height: 5vw;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 1%;
}
.mncntntpfmsggstdcshDes p{
    font-size: 0.7vw;
    color: whitesmoke;
}
.mncntntpfmsggstdcsh{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.mncntntpfmsggstdcshContent{
    height: auto;
    width: 49%;
    margin: 0.5%;
    background: rgb(20, 20, 20);
    padding: 2%;
    border-radius: 0.5vw;
}
.mncntntpfmsggstdcshContent p{
    font-size: 0.5vw;
    color: gray;
}
.mncntntpfmsggstdcshContent div{
    height: 2vw;
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mncntntpfmsggstdcshContent div h6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpfmsggstdcCountrySearch{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}
.mncntntpfmsggstdcCountrySearch input {
    width: 100%;
    padding: 5px 15px;
    border-radius: 50px;
    background: none;
    border: solid 2px gray;
    outline: none;
    color: white;
    font-size: 0.7vw;
}
.mncntntpfmsggstdcRecommendedDestinations{
    height: auto;
    width: 100%;
}
.mncntntpfmsggstdcrdHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mncntntpfmsggstdcrdHeader a{
    color: white;
    text-decoration: none;
    font-size: 0.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}














.mainContentPage.top1{
    height: auto;
    width: 100%;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mncntntpt1.left{
    height: auto;
    width: 50%;
}
.mncntntpt1.left h3{
    font-size: 2vw;
    line-height: 1vw;
    margin-bottom: 1%;
    font-weight: 600;
    font-style: "Bebas Neue", sans-serif;
}
.mncntntpt1.left h6{
    font-size: 0.9vw;
    color: gray;
    font-weight: 600;
}
.mncntntpt1.left p{
    font-size: 0.6vw;
    color: gray;
}


.mncntntpt1.right{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 1.5vw;
}
.mncntntpt1.right input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8vw;
    width: 80%;
}
.mncntntpt1rBtn{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mncntntpt1rBtn button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 0.9vw;
}







.mainContentPage.top2{
    height: 39vw;
    width: 100%;
    background: rgb(30, 30, 30);
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: top;
    overflow: hidden;
}

.mainMapBox{
    height: 100%;
    width: 100%;
}


.mncntntpt2.right{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(20, 20, 20);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mncntntpt2Modals{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1.5vw;
    z-index: 5;
    background: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.mncntntpt2rSelected{
    height: 100%;
    width: 25%;
    background: rgba(200, 200, 200, 0.5);
    box-shadow: 0 0 10px gray;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1vw;
    transition: 400ms ease;
    padding: 2%;
    opacity: 0;
}
.mncntntpt2rSelected.active{
    animation: roll-in-right2 400ms ease;
    opacity: 1;
}
.mncntntpt2rSelected button#closeCountry{
    position: absolute;
    top: -0.5vw;
    right: -0.5vw;
    padding: 0.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background: whitesmoke;
    font-size: 0.7vw;
    transition: 400ms ease;
}
.mncntntpt2rSelected button#closeCountry:hover{
    background: red;
    color: white;
    transition: 400ms ease;
}
.mncntntpt2rsCountryName{
    height: 4vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.mncntntpt2rscnName{
    height: auto;
    width: 75%;
}
.mncntntpt2rscnName h5 {
    font-size: 1.2vw;
    line-height: 1.5vw;
}
.mncntntpt2rscnName h6{
    font-size: 0.7vw;
    line-height: 1vw;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    opacity: 50%;
}
.mncntntpt2rscnFlag{
    height: 2.5vw;
    width: 4vw;
    border-radius: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mncntntpt2rscnFlag img{
    height: 100%;
    width: 100%;
}
.mncntntpt2rsSubHeader{
    height: auto;
    width: 100%;
    margin: 5% 0;
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 50%;
}
.mncntntpt2rsSubHeader span{
    height: auto;
    width: 30%;
}
.mncntntpt2rsSubHeader span#mncntntpt2rsCapital{
    width: 40%;
}
.mncntntpt2rsSubHeader span p{
    font-size: 0.7vw;
    line-height: 0.8vw;
    /* color: gray; */
}
.mncntntpt2rsTourist{
    height: auto;
    width: 100%;
    margin-top: 10%;
}
.mncntntpt2rstHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mncntntpt2rstHeader h6{
    font-size: 0.9vw;
    font-weight: 400;
}
.mncntntpt2rstHeader a{
    color: white;
    text-decoration: none;
    font-size: 0.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpt2rst{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    margin-top: 2%;
    padding-bottom: 3%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
}
.mncntntpt2rstContent{
    height: auto;
    width: 100%;
    background: black;
    margin-right: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.5vw;
    position: relative;
    cursor: pointer;
}
.mncntntpt2rstContent img{
    height: 10vw;
    border-radius: 0.5vw;
}
.mncntntpt2rstContent p{
    position: absolute;
    text-shadow: 0 0 10px black;
    top: 0.5vw;
    left: 0.5vw;
    font-size: 0.7vw;
    line-height: 0.8vw;
}
.mncntntpt2rsExchange{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
}
.mncntntpt2rsExchange h6{
    font-size: 0.9vw;
    font-weight: 400;
}




.mncntntpt2rMapViewver{
    height: 100%;
    width: 73%;
    position: relative;
    box-shadow: 0 0 10px gray;
    overflow: hidden;
    border-radius: 1vw;
    transition: 400ms ease;
}
.mncntntpt2rMapViewver button#closeCountry{
    position: absolute;
    top: 1vw;
    right: 1vw;
    padding: 0.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background: whitesmoke;
    font-size: 0.9vw;
    transition: 400ms ease;
    z-index: 2;
}
.mncntntpt2rMapViewver button#closeCountry:hover{
    background: red;
    color: white;
    transition: 400ms ease;
}





















section.mainContainerPage.mid{
    height: auto;
    width: 100%;
    padding: 1vw 5vw;
}
.mainContentPage.mid1{
    height: auto;
    width: 100%;
    margin: 3vw 0;
}
.maincpm1{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 0;
}
.maincpm1.ent{
    flex-wrap: wrap;
}
.maincpm1.ent.mobile{
    display: none;
}
.mncntntpm1{
    height: 15vw;
    width: 24%;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.mncntntpm1 img{
    height: 100%;
}
.mncntntpm1Title{
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: rgba(200, 200, 200, 0.8);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 5%;
    text-align: center;
}
.mncntntpm1Title h6{
    height: 3vw;
    font-size: 1.2vw;
    line-height: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpm1Title p{
    height: 3vw;
    font-size: 0.7vw;
    line-height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.mncntntpm1.ent{
    height: 10vw;
    width: 19%;
    margin-bottom: 1%;
}
.mncntntpm1.ent img{
    width: 100%;
}


.mainContentPage.mid2{
    height: auto;
    width: 100%;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mncntntpm2.left{
    height: 30vw;
    width: 50%;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
}
.mncntntpm2.left img{
    height: 100%;
}
.mncntntpm2.left p{
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    opacity: 50%;
    font-size: 0.7vw;
    font-style: italic;
    color: whitesmoke;
}
.mncntntpm2.right{
    height: auto;
    width: 47%;
    padding: 2% 3%;
}
.mncntntpm2Author h6{
    font-weight: 400;
}
.mncntntpm2Author p{
    font-size: 0.7vw;
    opacity: 50%;
}
.mncntntpm2Title{
    height: 16vw;
    margin: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpm2Title h3{
    line-height: 4vw;
}
.mncntntpm2SubTitle{
    height: 5vw;
}
.mncntntpm2More{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mncntntpm2More a{
    text-decoration: none;
    opacity: 50%;
    transition: 400ms ease;
}
.mncntntpm2More a h6{
    font-weight: 400;
    font-size: 0.9vw;
}
.mncntntpm2More a:hover{
    opacity: 100%;
    transition: 400ms ease;
}













.mainContentPage.mid3{
    height: 7vw;
    width: 100%;
    background: rgba(200, 200, 200);
    margin: 3% 0;
    text-align: center;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpm3AdContainer{
    height: auto;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}







.mainContentPage.mid4{
    height: auto;
    width: 100%;
    margin: 1vw 0;
}
.mncntntpm4Slider{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2vw;
}

.mncntntpm4s.left{
    height: auto;
    width: 45%;
}
.mncntntpm4slViewMore{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.mncntntpm4slViewMore a{
    text-decoration: none;
    opacity: 50%;
    transition: 400ms ease;
}
.mncntntpm4slViewMore a h6{
    font-weight: 400;
    font-size: 0.9vw;
}
.mncntntpm4slViewMore a:hover{
    opacity: 100%;
    transition: 400ms ease;
}
.mncntntpm4slHeader{
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0;
}
.mncntntpm4slHeader img{
    width: 100%;
}
.mncntntpm4slBody{
    height: auto;
    width: 100%;
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mncntntpm4slBody a{
    height: auto;
    width: 24%;
    border-radius: 1vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: solid 0.1vw black;
}
.mncntntpm4slBody a img{
    width: 100%;
    filter: blur(5px);
}
.mncntntpm4slBody a span{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpm4slBody a span h5{
    font-size: 3vw;
    color: white;
}

.mncntntpm4s.right{
    height: 25vw;
    width: 50%;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
}
.mncntntpm4s.right img{
    height: 100%;
}
.mncntntpm4s.right p{
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    opacity: 50%;
    font-size: 0.7vw;
    font-style: italic;
    color: whitesmoke;
}










.mncntntpm4Container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: top;
    margin: 1vw 0;
}
.mncntntpm4Content{
    height: auto;
    width: 24%;
    text-decoration: none;
    margin: 0 0.5%;
}
.mncntntpm4Content div{
    height: 14vw;
    width: 100%;
    border-radius: 1vw;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mncntntpm4Content div img{
    height: 100%;
}
.mncntntpm4Content h5{
    font-size: 1.2vw;
    line-height: 1.5vw;
    margin: 2% 0;
}
.mncntntpm4Content p{
    font-size: 0.7vw;
    color: gray;
}
.mncntntpm4More{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.mncntntpm4More a{
    text-decoration: none;
    opacity: 50%;
    transition: 400ms ease;
}
.mncntntpm4More a h6{
    font-weight: 400;
    font-size: 0.9vw;
}
.mncntntpm4More a:hover{
    opacity: 100%;
    transition: 400ms ease;
}

.mncntntpm4.external{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 1vw;
}
.mncntntpm4ext{
    height: auto;
    width: 24%;
    margin: 0 0.5%;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
.mncntntpm4extImg{
    height: 12vw;
    width: 100%;
    background: url('../assets/imgs/BreakingNewsBG04.png') no-repeat center;
    background-size: cover;
}
.mncntntpm4extImg img{
    height: 100%;
    width: 100%;
}
.mncntntpm4extTitle{
    height: auto;
    width: 100%;
    background: rgba(200, 200, 200, 0.8);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 1vw;
    text-align: center;
}
.mncntntpm4extTitle h6{
    height: 3vw;
    line-height: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}





.mainContentPage.mid5{
    height: auto;
    width: 100%;
    margin: 2vw 0;
}
.mncntntpm5More{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.mncntntpm5More a{
    text-decoration: none;
    opacity: 50%;
    transition: 400ms ease;
}
.mncntntpm5More a h6{
    font-weight: 400;
    font-size: 0.9vw;
}
.mncntntpm5More a:hover{
    opacity: 100%;
    transition: 400ms ease;
}
.mncntntpm5Container{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2%;
}
.mncntntpm5Container .marquee{
    display: inline-block;
    animation: marquee 600s linear infinite;
}
.mncntntpm5Container .marquee-item{
    display: inline-block;
    background: rgba(200, 200, 200);
    padding: 0.5vw 2vw;
    margin: 0 5px;
    border-radius: 10px;
}
  
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}











.mainContentPage.mid6{
    height: auto;
    width: 100%;
    margin: 1vw 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.mncntntpm6Container{
    height: auto;
    width: 49.5%;
}
.mncntntpm6cHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 5%;
}
.mncntntpm6cHeader a{
    text-decoration: none;
    opacity: 50%;
    transition: 400ms ease;
}
.mncntntpm6cHeader a h6{
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 3vw;
}
.mncntntpm6cHeader a:hover{
    opacity: 100%;
    transition: 400ms ease;
}
.mncntntpm6cContent{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 1vw;
}
.mncntntpm6ccArticle{
    height: auto;
    width: 49%;
    overflow: hidden;
    background: rgba(200, 200, 200);
    border-radius: 1vw;
    padding-bottom: 3%;
    text-decoration: none;
}
.mncntntpm6ccArticle div{
    height: 14vw;
    width: 100%;
    border-radius: 1vw;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    overflow: hidden;
}
.mncntntpm6ccArticle div img{
    height: 100%;
}
.mncntntpm6ccArticle h5 {
    height: 4.3vw;
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 0 5%;
    margin: 2% 0;
}
.mncntntpm6ccArticle p {
    font-size: 0.7vw;
    padding: 0 5%;
    color: gray;
}
.mncntntpm6c.external{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}
.mncntntpm6cext{
    height: 11vw;
    width: 49%;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.mncntntpm6cext img{
    height: 100%;
    width: 100%;
}
.mncntntpm6ceTitle{
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: rgba(200, 200, 200, 0.8);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 5%;
    text-align: center;
}
.mncntntpm6ceTitle p{
    height: 2vw;
    font-size: 0.7vw;
    line-height: 1vw;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}




.mainContentPage.mid7{
    height: auto;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.mncntntpm7Container{
    height: auto;
    width: 49%;
}
.mncntntpm7cHeader{
    height: 3vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 3%;
}
.mncntntpm7cHeader h5{
    line-height: 2vw;
}
.mncntntpm7cHeader a{
    text-decoration: none;
    opacity: 50%;
    transition: 400ms ease;
}
.mncntntpm7cHeader a h6{
    font-weight: 400;
    font-size: 0.9vw;
}
.mncntntpm7cHeader a:hover{
    opacity: 100%;
    transition: 400ms ease;
}
.mncntntpm7clContent{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    border-radius: 1vw;
    overflow: hidden;
}
.mncntntpm7clContent img{
    width: 100%;
}
.mncntntpm7clcTitle{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2vw;
}
.mncntntpm7clcTitle h4{
    margin-bottom: 2%;
    color: white;
}
.mncntntpm7clcTitle p{
    color: white;
}
.mncntntpm7crContent{
    height: auto;
    width: 100%;
}
.mncntntpm7crc{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vw;
    overflow: hidden;
    margin-bottom: 3%;
}
.mncntntpm7crc div{
    height: 9vw;
    width: 30%;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpm7crc div img{
    height: 100%;
}
.mncntntpm7crc span{
    padding: 1% 3%;
    height: auto;
    width: 70%;
}
.mncntntpm7crc span h5{
    line-height: 2vw;
}




.mainContentPage.mid8{
    height: auto;
    width: 100%;
    margin-bottom: 5%;
}
.mncntntpm8More{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.mncntntpm8More a{
    text-decoration: none;
    opacity: 50%;
    transition: 400ms ease;
}
.mncntntpm8More a h6{
    font-weight: 400;
    font-size: 0.9vw;
}
.mncntntpm8More a:hover{
    opacity: 100%;
    transition: 400ms ease;
}
.mncntntpm8Container1{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 0;
}
.mncntntpm8Container1 a{
    height: auto;
    width: 32.5%;
    margin-bottom: 1%;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpm8Container1 a img{
    width: 100%;
}

.mncntntpm8Container2{
    height: auto;
    width: 100%;
    margin-top: 2vw;
}
.mncntntpm8Container2 p{
    text-align: center;
}
.mncntntpm8c2{
    height: auto;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1vw;
    margin-top: 1vw;
}
.mncntntpm8c2 img{
    width: 100%;
}






















@keyframes roll-in-left {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes roll-in-right {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes roll-in-left2 {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes roll-in-right2 {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes fade-in-down2 {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
	}
	100% {
		transform: perspective(400px) rotateY(360deg);
	}
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
@keyframes elastic-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes b2 {
    100%  {background-position:100% 0,100% 100%,0 100%,0 0,center}
}
@keyframes l1 {
    0% {background-position: right}
}
@keyframes l2 {
    to{transform: rotate(.5turn)}
}
@keyframes spinner113{ 
    100%{transform: rotate(1turn)}
}
@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}
















@media screen and (max-width: 500px){
    .loaderContent img{
        height: 40vw;
    }
    .loaderContent p{
        font-size: 4vw;
    }



    section.mainContainerPage.top{
        padding: 15vw 5vw;
        padding-bottom: 2vw;
    }
    .mainContentPage.top1{
        padding: 2vw 0;
        display: block;
    }
    .mncntntpt1.left{
        width: 100%;
    }
    .mncntntpt1.left h6{
        font-size: 3.3vw;
        text-align: center;
    }
    .mncntntpt1.left p{
        font-size: 2.5vw;
        text-align: center;
    }
    .mncntntpt1.right{
        height: auto;
        width: 100%;
        margin-top: 2vw;
    }
    .mncntntpt1.right input{
        font-size: 3.5vw;
        padding: 1% 3%;
        width: 80%;
    }
    .mncntntpt1rBtn{
        height: auto;
        width: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .mncntntpt1rBtn button{
        margin-right: 10%;
        font-size: 4vw;
    }


    .mainContentPage.top2{
        height: 70vw;
        width: 100%;
        background: rgb(30, 30, 30);
        border-radius: 3vw;
        margin-top: 2vw;
    }



    section.mainContainerPage.mid{
        padding: 3vw 5vw;
    }
    .mncntntpm4More h4{
        font-size: 4vw;
    }
    .mncntntpm4More h5{
        font-size: 4vw;
    }
    .mncntntpm4More a h6{
        font-weight: 400;
        font-size: 3vw;
    }
    .mainContentPage.mid4{
        height: auto;
        width: 100%;
        margin: 2vw 0;
    }
    .mncntntpm4Container{
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 3vw 0;
    }
    .mncntntpm4Content{
        width: 48%;
        margin: 0.5%;
        margin-bottom: 5%;
    }
    .mncntntpm4Content div{
        height: 30vw;
        width: 100%;
        border-radius: 2vw;
    }
    .mncntntpm4Content h5{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 3% 0;
    }
    .mncntntpm4Content p{
        font-size: 2.5vw;
        color: gray;
    }
    .mncntntpm4.external.web{
        display: flex;
        flex-wrap: wrap;
    }
    .mncntntpm4ext{
        height: 35vw;
        width: 48%;
        border-radius: 3vw;
        margin-bottom: 5%;
    }
    .mncntntpm4extTitle{
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        width: 100%;
        background: rgba(200, 200, 200, 0.8);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        padding: 4%;
        text-align: center;
    }
    .mncntntpm4extTitle p{
        height: auto;
        font-size: 2.5vw;
        line-height: 3vw;
    }

    .mncntntpm4Slider{
        height: auto;
        width: 100%;
        display: block;
    }
    .mncntntpm4s.left{
        height: auto;
        width: 100%;
    }
    .mncntntpm4s.right{
        display: none;
    }
    .mncntntpm4slViewMore h4{
        font-size: 4vw;
    }
    .mncntntpm4slViewMore a h6{
        font-size: 3vw;
    }
    .mncntntpm4slHeader{
        border-radius: 3vw;
    }
    .mncntntpm4slBody{
        display: none;
    }


    .mainContentPage.mid5{
        margin: 5vw 0;
    }
    .mncntntpm5More h4{
        font-size: 4vw;
    }
    .mncntntpm5More a h6{
        font-size: 3vw;
    }
    .mncntntpm5Container .marquee-item{
        padding: 2vw 4vw;
        margin: 0 3px;
    }
    .mncntntpm5Container .marquee-item h6{
        font-size: 3vw;
    }






    .mainContentPage.mid6{
        margin: 3vw 0;
        display: block;
    }
    .mncntntpm6Container{
        height: auto;
        width: 100%;
    }
    .mncntntpm6cHeader{
        margin-top: 3vw;
        padding-right: 0%;
    }
    .mncntntpm6cHeader h4{
        font-size: 4vw;
    }
    .mncntntpm6cHeader a h6{
        font-size: 3vw;
    }
    .mncntntpm6ccArticle{
        border-radius: 3vw;
        padding-bottom: 3%;
    }
    .mncntntpm6ccArticle div{
        height: 35vw;
        width: 100%;
        border-radius: 3vw;
    }
    .mncntntpm6ccArticle h5 {
        height: auto;
        font-size: 3vw;
        line-height: 4vw;
    }
    .mncntntpm6ccArticle p {
        display: none;
    }



    .mainContentPage.mid1 h4{
        font-size: 4vw;
    }
    .mainContentPage.mid1 h5{
        font-size: 4vw;
    }
    .maincpm1{
        margin-top: 2%;
        flex-wrap: wrap;
    }
    .mncntntpm1{
        height: 35vw;
        width: 49%;
        border-radius: 3vw;
        margin-bottom: 3%;
    }
    .mncntntpm1Title h6{
        display: none;
    }
    .mncntntpm1Title p{
        height: auto;
        font-size: 2.5vw;
        line-height: 3vw;
    }
    .maincpm1.ent.web{
        display: none;
    }
    .maincpm1.ent.mobile{
        display: flex;
    }
    .mncntntpm1.ent{
        height: 35vw;
        width: 49%;
        margin-bottom: 3%;
    }


    .mainContentPage.mid2{
        display: block;
    }
    .mncntntpm2.left{
        height: 55vw;
        width: 100%;
        border-radius: 3vw;
    }
    .mncntntpm2.left p{
        bottom: 3vw;
        left: 3vw;
        opacity: 50%;
        font-size: 3vw;
    }
    .mncntntpm2.right{
        height: auto;
        width: 100%;
        padding: 2% 0;
    }
    .mncntntpm2Author h6{
        font-size: 3vw;
    }
    .mncntntpm2Author p{
        font-size: 2.5vw;
        opacity: 50%;
    }
    .mncntntpm2Title{
        height: auto;
    }
    .mncntntpm2Title h3{
        font-size: 6vw;
        line-height: 6vw;
    }
    .mncntntpm2SubTitle{
        height: auto;
    }
    .mncntntpm2SubTitle p{
        font-size: 3vw;
    }
    .mncntntpm2More{
        margin-top: 2%;
    }
    .mncntntpm2More a h6{
        font-size: 3vw;
    }



    .mainContentPage.mid3{
        height: auto;
        border-radius: 3vw;
    }
    .mncntntpm3AdContainer h5{
        font-size: 5vw;
    }






    .mainContentPage.mid7{
        display: block;
        margin-top: 10%;
    }
    .mncntntpm7Container{
        height: auto;
        width: 100%;
    }
    .mncntntpm7cHeader h4{
        font-size: 4vw;
        line-height: 3vw;
    }
    .mncntntpm7clContent{
        height: 40vw;
        width: 100%;
        border-radius: 3vw;
    }
    .mncntntpm7clcTitle{
        padding: 4vw;
    }
    .mncntntpm7clcTitle h4{
        font-size: 3vw;
    }
    .mncntntpm7clcTitle p{
        font-size: 2.5vw;
    }


    .mncntntpm7cHeader{
        width: 100%;
        margin-top: 3%;
    }
    .mncntntpm7cHeader h5{
        font-size: 4vw;
        line-height: 4vw;
    }
    .mncntntpm7cHeader a h6{
        font-size: 3vw;
    }
    .mncntntpm7crc div{
        height: 20vw;
        width: 30%;
        border-radius: 3vw;
    }
    .mncntntpm7crc span h5{
        font-size: 4vw;
        line-height: 4vw;
    }
    .mncntntpm7crc span p{
        font-size: 2.5vw;
    }


    .mainContentPage.mid8{
        margin-top: 5%;
    }
    .mncntntpm8More h4{
        font-size: 4vw;
    }
    .mncntntpm8More a{
        display: none;
    }

    .mncntntpm8Container1 a{
        height: auto;
        width: 49%;
        margin-bottom: 2%;
        border-radius: 3vw;
    }


    .mncntntpm8Container2 p{
        font-size: 3;
    }
















}











