h1, h2, h3, h4, h5, h6, p{
    color: white;
}
h1, h2, h3, h4, h5, h6{
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Oswald", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.home{
    height: auto;
    width: 100%;
    background: black;
}

/*----- Landing Section -----*/



section.mainContainerPage.top{
    height: auto;
    width: 100%;
    padding: 4vw 5vw;
    background: 
        linear-gradient(black 0%, transparent),
        linear-gradient(transparent, black 100%),
        url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
}
.mainContentPage.top1{
    height: auto;
    width: 100%;
    padding: 3vw 7vw;
    padding-bottom: 2vw;
    text-align: center;
}
.mainContentPage.top1 img{
    height: 10vw;
    margin: 0 auto;
    margin-bottom: 1%;
}
.mainContentPage.top1 h3{
    font-size: 4vw;
    line-height: 4vw;
    margin-bottom: 1%;
    font-weight: 600;
    font-style: "Bebas Neue", sans-serif;
}
.mainContentPage.top1 h6{
    font-weight: 400;
}



.mainContentPage.top2{
    height: 32vw;
    width: 100%;
    background: rgb(30, 30, 30);
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.mncntntpt2.left{
    height: 100%;
    width: 35%;
    padding: 2%;
    position: relative;
}
.mncntntpt2.left h4{
    font-size: 3vw;
    line-height: 3vw;
    margin-bottom: 3%;
}
.mncntntpt2.left p{
    color: gray;
}
.mncntntpt2lBreakingNews{
    height: auto;
    width: 100%;
    margin-top: 10%;
}
.mncntntpt2lBreakingNews h5{
    color: red;
}
.mncntntpt2lbn {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    margin-top: 2%;
    padding-bottom: 3%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
}
.mncntntpt2lbnContent{
    height: auto;
    width: 100%;
    background: black;
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 1vw;
    cursor: pointer;
    border: solid 1px black;
}
.mncntntpt2lbnContent img{
    width: 20vw;
    border-radius: 1vw;
}
::-webkit-scrollbar {
    background: none;
    height: .3vw;
    width: .2vw;
    cursor: pointer;
}


.mncntntpt2.right{
    height: 100%;
    width: 65%;
    overflow: hidden;
    background: rgb(20, 20, 20);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mncntntpt2rSearch{
    position: absolute;
    height: auto;
    width: 35%;
    top: 1.5vw;
    right: 1.5vw;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    align-items: center;
    border: solid 2px white;
    padding: 3px 15px;
    z-index: 5;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.mncntntpt2rSearch input{
    width: 90%;
    background: none;
    border: none;
    font-size: 0.7vw;
    outline: none;
    color: white;
    text-transform: capitalize;
}
.mncntntpt2rSelected{
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    height: 29vw;
    width: 35%;
    z-index: 5;
    background: rgba(20, 20, 20, 0.5);
    box-shadow: 0 0 10px gray;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1vw;
    transition: 400ms ease;
    padding: 2%;
    opacity: 0;
}
.mncntntpt2rSelected.active{
    animation: roll-in-right2 400ms ease;
    opacity: 1;
}
.mncntntpt2rSelected button#closeCountry{
    position: absolute;
    top: -0.5vw;
    right: -0.5vw;
    padding: 0.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background: whitesmoke;
    font-size: 0.7vw;
    transition: 400ms ease;
}
.mncntntpt2rSelected button#closeCountry:hover{
    background: red;
    color: white;
    transition: 400ms ease;
}
.mncntntpt2rsCountryName{
    height: 3vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.mncntntpt2rscnName h5 {
    font-size: 1.2vw;
    line-height: 1.5vw;
}
.mncntntpt2rscnName h6{
    font-size: 0.7vw;
    line-height: 1vw;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    opacity: 50%;
}
.mncntntpt2rscnFlag{
    height: 2.5vw;
    width: 4vw;
    border-radius: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mncntntpt2rscnFlag img{
    height: 100%;
    width: 100%;
}
.mncntntpt2rsSubHeader{
    height: auto;
    width: 100%;
    margin: 5% 0;
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 50%;
}
.mncntntpt2rsSubHeader span{
    height: auto;
    width: 30%;
}
.mncntntpt2rsSubHeader span#mncntntpt2rsCapital{
    width: 40%;
}
.mncntntpt2rsSubHeader span p{
    font-size: 0.6vw;
    line-height: 0.8vw;
    /* color: gray; */
}
.mncntntpt2rsTourist{
    height: auto;
    width: 100%;
    margin-top: 10%;
}
.mncntntpt2rsTourist h6{
    font-size: 0.7vw;
    font-weight: 400;
}
.mncntntpt2rst{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    margin-top: 2%;
    padding-bottom: 3%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
}
.mncntntpt2rstContent{
    height: auto;
    width: 100%;
    background: black;
    margin-right: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.5vw;
    position: relative;
    cursor: pointer;
}
.mncntntpt2rstContent img{
    height: 8vw;
    border-radius: 0.5vw;
}
.mncntntpt2rstContent p{
    position: absolute;
    text-shadow: 0 0 10px black;
    top: 0.5vw;
    left: 0.5vw;
    font-size: 0.7vw;
    line-height: 0.8vw;
}
































@keyframes roll-in-left {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes roll-in-right {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes roll-in-left2 {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes roll-in-right2 {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes fade-in-down2 {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
	}
	100% {
		transform: perspective(400px) rotateY(360deg);
	}
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
@keyframes elastic-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes b2 {
    100%  {background-position:100% 0,100% 100%,0 100%,0 0,center}
}
@keyframes l1 {
    0% {background-position: right}
}
@keyframes l2 {
    to{transform: rotate(.5turn)}
}
@keyframes spinner113{ 
    100%{transform: rotate(1turn)}
}
@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}