h1, h2, h3, h4, h5, h6, p{
    color: black;
}
h1, h2, h3, h4, h5, h6{
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Oswald", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.magazine{
    height: auto;
    width: 100%;
    background: white;
    padding-bottom: 10vw;
}
.mainContainer.magazineCategory{
    height: auto;
    width: 100%;
    background: white;
    padding-bottom: 10vw;
}




section.magazineContainerPage.top{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 1vw;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}
section.magazineContainerPage.top hr{
    height: 0.5vw;
    background: black;
    width: 100%;
}


.magazineContentPage.top1{
    height: 20vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1vw;
    position: relative;
    background: gray;
}
.magazineContentPage.top1 img{
    height: auto;
    width: 100%;
}
.magazineContentPage.top2{
    height: auto;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}
.mgzncpt2.left{
    height: auto;
    width: 50%;
}
.mgzncpt2.left h3{
    line-height: 3.5vw;
}
.mgzncpt2.right{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 1.5vw;
    margin-bottom: 0.3vw;
}
.mgzncpt2.right input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8vw;
    width: 80%;
}
.mgzncpt2rBtn{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mgzncpt2rBtn button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 0.9vw;
}




section.magazineContainerPage.mid{
    height: auto;
    width: 100%;
    padding: 1vw 5vw;
}
.magazineContentPage.mid1{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}
.mgzncpm1{
    height: auto;
    width: 24%;
    overflow: hidden;
    background: rgba(200, 200, 200);
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    margin: 0.5%;
}
.mgzncpm1Img{
    height: 14vw;
    width: 100%;
    border-radius: 1vw;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mgzncpm1Img img{
    width: 100%;
}
.mgzncpm1Content{
    height: auto;
    width: 100%;
    padding: 1vw;
    padding-bottom: 2vw;
}
.mgzncpm1Content h5 {
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 0 5%;
    margin: 2% 0;
}
.mgzncpm1Content p {
    font-size: 0.7vw;
    padding: 0 5%;
    color: gray;
}









/* Magazine By Category */

section.magazinCatContainerPage.top{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 1vw;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}
.magazinCatContentPage.top2{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 1vw; */
}
.mgzncatntcpt2.left{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mgzncatntcpt2.left a{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 3vw;
    margin-right: 1vw;
    color: gray;
}
.mgzncatntcpt2.left h4{
    text-transform: uppercase;
}
.mgzncatntcpt2.left h4 span{
    color: royalblue;
    font-family: "Oswald", sans-serif;
}
.mgzncatntcpt2.right{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 1.5vw;
}
.mgzncatntcpt2.right input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8vw;
    width: 80%;
}
.mgzncatntcpt2rBtn{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mgzncatntcpt2rBtn button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 0.9vw;
}


section.magazinCatContainerPage.mid{
    height: auto;
    width: 100%;
    padding: 1vw 5vw;
}
.magazinCatContentPage.mid1{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}



.magazinCatContentPage.mid1 a{
    height: auto;
    width: 24%;
    overflow: hidden;
    background: rgba(200, 200, 200);
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    margin: 0.5%;
} 
.mgznctcpm2Img{
    height: 14vw;
    width: 100%;
    border-radius: 1vw;
    background: url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.mgznctcpm2Img img#mgznctcpm2iFlag{
    position: absolute;
    top: 1vw;
    left: 1vw;
    height: 2vw;
    width: 3.5vw;
    border-radius: 0.2vw;
    border: solid 0.1px black;
    box-shadow: 0 0 10px gray;
}
.mgznctcpm2Img img#mgznctcpm2iLogo{
    width: 100%;
}
.mgznctccpm2Dets{
    padding: 1vw;
}
.mgznctccpm2Dets h6{
    font-size: 1vw;
    line-height: 1.2vw;
    margin: 2% 0;
}
.mgznctccpm2Dets p{
    font-size: 0.7vw;
    padding: 0 5%;
    color: gray;
}
.mgznctccpm2Empty{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mgznctccpm2Empty span p{
    color: gray;
}
















