h1, h2, h3, h4, h5, h6, p{
    color: black;
}
h1, h2, h3, h4, h5, h6{
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Oswald", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.magazine{
    height: auto;
    width: 100%;
    background: white;
    padding-bottom: 30vw;
}
.mainContainer.magazineCategory{
    height: auto;
    width: 100%;
    background: white;
    padding-bottom: 30vw;
}




section.magazineContainerPage.top{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 1vw;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}
section.magazineContainerPage.top hr{
    height: 0.5vw;
    background: black;
    width: 100%;
}


.magazineContentPage.top1{
    height: 20vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1vw;
    position: relative;
    background: gray;
}
.magazineContentPage.top1 img{
    height: auto;
    width: 100%;
}
.magazineContentPage.top2{
    height: auto;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}
.mgzncpt2.left{
    height: auto;
    width: 50%;
}
.mgzncpt2.left h3{
    line-height: 3.5vw;
}
.mgzncpt2.right{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 1.5vw;
    margin-bottom: 0.3vw;
}
.mgzncpt2.right input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8vw;
    width: 80%;
}
.mgzncpt2rBtn{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mgzncpt2rBtn button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 0.9vw;
}




section.magazineContainerPage.mid{
    height: auto;
    width: 100%;
    padding: 1vw 5vw;
}
.magazineContentPage.mid1{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}
.mgzncpm1{
    height: auto;
    width: 24%;
    overflow: hidden;
    background: rgba(200, 200, 200);
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    margin: 0.5%;
}
.mgzncpm1Img{
    height: 14vw;
    width: 100%;
    border-radius: 1vw;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mgzncpm1Img img{
    width: 100%;
}
.mgzncpm1Content{
    height: auto;
    width: 100%;
    padding: 1vw;
    padding-bottom: 2vw;
}
.mgzncpm1Content h5 {
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 0 5%;
    margin: 2% 0;
}
.mgzncpm1Content p {
    font-size: 0.7vw;
    padding: 0 5%;
    color: gray;
}









/* Magazine By Category */

section.magazinCatContainerPage.top{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 1vw;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}
.magazinCatContentPage.top2{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 1vw; */
}
.mgzncatntcpt2.left{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mgzncatntcpt2.left a{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 3vw;
    margin-right: 1vw;
    color: gray;
}
.mgzncatntcpt2.left h4{
    text-transform: uppercase;
}
.mgzncatntcpt2.left h4 span{
    color: royalblue;
    font-family: "Oswald", sans-serif;
}
.mgzncatntcpt2.left select{
    width: 20%;
    margin-left: 3%;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 0.5vw;
    font-size: 0.8vw;
}
.mgzncatntcpt2.right{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 1.5vw;
}
.mgzncatntcpt2.right input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8vw;
    width: 80%;
}
.mgzncatntcpt2rBtn{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mgzncatntcpt2rBtn button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 0.9vw;
}


section.magazinCatContainerPage.mid{
    height: auto;
    width: 100%;
    padding: 1vw 5vw;
}
.magazinCatContentPage.mid1{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}


.magazinCatContentPage.mid1 button{
    height: auto;
    width: 24%;
    overflow: hidden;
    background: rgba(200, 200, 200);
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    margin: 0.5%;
    border: none;
}
.magazinCatContentPage.mid1 a{
    height: auto;
    width: 24%;
    overflow: hidden;
    background: rgba(200, 200, 200);
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    margin: 0.5%;
} 
.mgznctcpm2Img{
    height: 14vw;
    width: 100%;
    border-radius: 1vw;
    background: url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.mgznctcpm2Img img#mgznctcpm2iFlag{
    position: absolute;
    top: 1vw;
    left: 1vw;
    height: 2vw;
    width: 3.5vw;
    border-radius: 0.2vw;
    border: solid 0.1px black;
    box-shadow: 0 0 10px gray;
}
.mgznctcpm2Img img#mgznctcpm2iCountry{
    height: 100%;
    width: 100%;
}
.mgznctcpm2Img img#mgznctcpm2iLogo{
    width: 100%;
}
.mgznctccpm2Dets{
    padding: 1vw;
}
.mgznctccpm2Dets h6{
    font-size: 1vw;
    line-height: 1.2vw;
    margin: 2% 0;
}
.mgznctccpm2Dets p{
    font-size: 0.7vw;
    padding: 0 5%;
    color: gray;
}
.mgznctccpm2Empty{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mgznctccpm2Empty span p{
    color: gray;
}














@media screen and (max-width: 500px){
    section.magazineContainerPage.top{
        padding: 15vw 5vw;
        padding-bottom: 2vw;
    }
    section.magazineContainerPage.top hr{
        margin-top: 5vw;
        height: 1vw;
    }
    .magazineContentPage.top2{
        height: auto;
        width: 100%;
        display: block;
        margin-bottom: 2vw;
    }
    .mgzncpt2.left{
        height: auto;
        width: 100%;
        text-align: center;
    }
    .mgzncpt2.left h3{
        font-size: 10vw;
        line-height: 10vw;
    }
    .mgzncpt2.left h5{
        font-size: 4vw;
    }
    .mgzncpt2.right{
        height: auto;
        width: 100%;
        margin-top: 2vw;
    }
    .mgzncpt2.right input{
        font-size: 3.5vw;
        padding: 1% 3%;
        width: 80%;
    }
    .mgzncpt2rBtn {
        height: auto;
        width: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .mgzncpt2rBtn button {
        margin-right: 10%;
        font-size: 4vw;
    }




    section.magazineContainerPage.mid{
        padding: 5vw;
    }
    .magazineContentPage.mid1 {
        justify-content: space-between;
    }
    .mgzncpm1{
        height: auto;
        width: 49%;
        margin: 0;
        margin-bottom: 2%;
        border-radius: 3vw;
    }
    .mgzncpm1Img{
        height: 29vw;
        width: 100%;
        border-radius: 0vw;
    }
    .mgzncpm1Content h5{
        font-size: 3vw;
        font-weight: 400;
        line-height: 3vw;
        padding: 0;
        margin: 3% 0;
    }
    .mgzncpm1Content p {
        font-size: 2.5vw;
    }







    
    section.magazinCatContainerPage.top{
        padding: 15vw 5vw;
        padding-bottom: 2vw;
    }
    .magazinCatContentPage.top2{
        display: block;
    }
    .mgzncatntcpt2.left{
        height: auto;
        width: 100%;
        justify-content: space-between;
        text-align: center;
    }
    .mgzncatntcpt2.left a{
        font-size: 8vw;
    }
    .mgzncatntcpt2.left h4{
        width: 90%;
        font-size: 4vw;
    }
    .mgzncatntcpt2.right{
        height: auto;
        width: 100%;
        margin-top: 2vw;
    }
    .mgzncatntcpt2.right input{
        font-size: 3.5vw;
        padding: 1% 3%;
        width: 80%;
    }
    .mgzncatntcpt2rBtn{
        height: auto;
        width: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .mgzncatntcpt2rBtn button{
        margin-right: 10%;
        font-size: 4vw;
    }


    section.magazinCatContainerPage.mid{
        padding: 5vw;
    }
    .magazinCatContentPage.mid1 {
        justify-content: space-between;
    }
    .magazinCatContentPage.mid1 a{
        height: auto;
        width: 49%;
        margin: 0;
        margin-bottom: 2%;
        border-radius: 3vw;
    }
    .mgznctcpm2Img{
        height: 29vw;
        width: 100%;
        border-radius: 0vw;
    }
    .mgznctcpm2Img img#mgznctcpm2iFlag{
        top: 3vw;
        left: 3vw;
        height: 5vw;
        width: 8vw;
        border-radius: 1vw;
    }
    .mgznctccpm2Dets {
        padding: 2vw;
    }
    .mgznctccpm2Dets h6{
        font-size: 3vw;
        font-weight: 400;
        line-height: 3vw;
        padding: 0;
        margin: 3% 0;
    }
    .mgznctccpm2Dets p {
        font-size: 2.5vw;
        padding: 0;
    }
    .mgznctccpm2Empty{
        height: 100vw;
    }
    .mgznctccpm2Empty span p{
        font-size: 3vw;
    }








}

