@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
/* font-family: 'Bruno Ace SC', cursive; */
h6{
    font-family: "Bebas Neue", sans-serif;
}

nav{
    height: auto;
    width: 100%;
    padding: 0.5vw 5vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    z-index: 998;
}
.mainNavContainer{
    height: auto;
    width: 100%;
}
.navContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navContainer.mobile{
    display: none;
}

/* Website */

.navContent a{
    text-decoration: none;
}
.navContent.left{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navContent.left a#navclHome{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 2%;
}
.navContent.left a#navclHome img{
    height: 2.5vw;
    max-width: 100%;
    margin-right: 5%;
}
.navContent.left a#navclHome h4{
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 1.5vw;
    margin-top: 0.5vw;
    font-family: "Bebas Neue", sans-serif;
    color: black;
}
.navContent.left a#navclHome p{
    font-size: 0.7vw;
    line-height: 0.7vw;
    color: gray;
    /* font-family: "Bebas Neue", sans-serif; */
}
.navclExtra{
    height: auto;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-right: 5%;
}
.navclExtra a,
.navclExtra button{
    border: none;
    outline: none;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: gray;
    cursor: pointer;
    transition: 400ms ease;
}
.navclExtra button{
    opacity: 70%;
}
.navclExtra button.active{
    color: black;
    transition: 400ms ease;
    opacity: 100%;
}
.navclExtra a:hover,
.navclExtra button:hover{
    color: black;
    transition: 400ms ease;
    opacity: 100%;
}
.navcleMoon{
    height: auto;
    position: absolute;
    top: 6vh;
    left: -1vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in-down 400ms ease;
    box-shadow: 0 0 10px gray;
}
.navclemCurrentMoon{
    height: auto;
    width: 100%;
}
.navclemCurrentMoon a{
    height: 20vw;
    width: 15vw;
}
.navclemCurrentMoon a img{
    height: 100%;
    width: 100%;
}


.navclSocial{
    height: auto;
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}
.navclSocial button{
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    color: gray;
    transition: 400ms ease;
    opacity: 70%;
    cursor: pointer;
}
.navclSocial button.active{
    color: black;
    transition: 400ms ease;
    opacity: 100%;
}
.navclSocial button:hover{
    color: black;
    transition: 400ms ease;
    opacity: 100%;
}
.navclsContents{
    height: auto;
    width: 15vw;
    position: absolute;
    top: 6vh;
    left: -1vw;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    background: whitesmoke;
    animation: fade-in-down 400ms ease;
    box-shadow: 0 0 10px gray;
}
.navclsContents h6{
    color: black;
}
.navclsc{
    height: auto;
    width: 100%;
    margin-top: 1vw;
}
.navclsc a{
    color: black;
    text-decoration: none;
}
.navclsc a p{
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.7vw;
    margin-bottom: 0.5vw;
}
.navclsc a p .faIcons{
    margin-right: 5%;
    font-size: 1vw;
}






.navContent.right{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px 10px;
    padding-left: 15px;
    border-radius: 50px;
    background: white;
    position: relative;
}

.nvcntntrModal{
    height: auto;
    width: 15vw;
    position: absolute;
    top: 7.5vh;
    right: 10vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background: whitesmoke;
    animation: fade-in-down 400ms ease;
    box-shadow: 0 0 10px gray;
}
.nvcntntrModal a{
    color: black;
    text-decoration: none;
}
.nvcntntrModal a h6{
    color: gray;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.9vw;
    font-weight: 600;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    transition: 400ms ease;
}
.nvcntntrModal a h6 .faIcons{
    margin-right: 5%;
    font-size: 1vw;
}
.nvcntntrModal a h6:hover{
    background: black;
    color: white;
}



.nvcntntrContinent{
    height: auto;
    width: 35vw;
    position: absolute;
    top: 7.5vh;
    right: 5vw;
    padding: 1vw;
    border-radius: 0.5vw;
    background: whitesmoke;
    animation: fade-in-down 400ms ease;
    box-shadow: 0 0 10px gray;
}
.nvcntntrcTitle{
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 1vw;
}
.nvcntntrcContent{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 0;
}
.nvcntntrccOrg{
    height: auto;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nvcntntrccOrg img{
    height: 6vw;
    border-radius: 0.5vw;
}
.nvcntntrcContent div p{
    font-size: 0.7vw;
    line-height: 0.9vw;
    margin-top: 0.2vw;
}
.nvcntntrcPages{
    height: auto;
    width: 100%;
    margin-top: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nvcntntrcPages a{
    height: auto;
    width: 24%;
    margin-bottom: 1%;
    color: black;
    text-decoration: none;
}
.nvcntntrcPages a h6{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
    font-weight: 600;
    padding: 0.5vw;
    border-radius: 0.5vw;
    transition: 400ms ease;
}
.nvcntntrcPages a h6 .faIcons{
    margin-right: 5%;
    font-size: 1vw;
}
.nvcntntrcPages a h6:hover{
    background: black;
    color: white;
}




.nvcntntr.links{
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}
.nvcntntr.links button{
    font-size: 0.9vw;
    margin-left: 2vw;
    color: gray;
    text-decoration: none;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    transition: 400ms ease;
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms ease;
    opacity: 70%;
    transition: 400ms ease;
}
.nvcntntr.links button .faIcons{
    font-size: 1.2vw;
}
.nvcntntr.links button.active{
    opacity: 100%;
    color: black;
    transition: 400ms ease;
}
.nvcntntr.links button:hover{
    color: black;
    transition: 400ms ease;
}
.nvcntntr.links a{
    font-size: 0.9vw;
    margin-left: 2vw;
    color: gray;
    text-decoration: none;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    transition: 400ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nvcntntr.links a:hover{
    color: black;
    transition: 400ms ease;
}
.nvcntntr.user{
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 2vw;
}
.nvcntntr.user button#nvcntntruSignup{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: solid 0.2vw black;
    color: black;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 50px;
    transition: 400ms ease;
}
.nvcntntr.user button#nvcntntruLogout{
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    color: black;
    cursor: pointer;
    margin-left: 1vw;
    transition: 400ms ease;
    border-radius: 50%;
}
.nvcntntr.user button#nvcntntruLogout:hover{
    color: red;
    transition: 400ms ease;
}
.nvcntntr.user button#nvcntntruSignup:hover{
    background: white;
    transition: 400ms ease;
}
.nvcntntr.user button#nvcntntruSignup h6{
    font-size: 0.9vw;
    font-weight: 400;
    transition: 400ms ease;
    text-transform: uppercase;
    color: black;
}
.nvcntntr.user button#nvcntntruSignup:hover h6{
    color: black;
    transition: 400ms ease;
}
.nvcntntr.user button#nvcntntruLogin{
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    color: black;
    cursor: pointer;
    margin-right: 1vw;
    transition: 400ms ease;
    border-radius: 50%;
}
.nvcntntr.user button#nvcntntruNotification{
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 1vw;
    transition: 400ms ease;
    border-radius: 50%;
}
.nvcntntr.user a#nvcntntruAdmin{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 1vw;
    transition: 400ms ease;
    border-radius: 50%;
}
.nvcntntr.user a#nvcntntruUser{
    height: auto;
    width: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px gray;
    border-radius: 50px;
}
.nvcntntr.user a#nvcntntruUser span{
    height: 1.8vw;
    width: 1.8vw;
    background: url('../assets/imgs/TheDailyUniverseLogo.png') no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 2px gray;
    /* margin-left: 1vw; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nvcntntr.user a#nvcntntruUser span img{
    height: 100%;
}
.nvcntntr.user a#nvcntntruUser h6{
    width: 80%;
    font-size: 0.9vw;
    text-align: center;
    text-transform: uppercase;
}







