h1, h2, h3, h4, h5, h6, p{
    color: black;
}
h1, h2, h3, h4, h5, h6{
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Oswald", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.sports{
    height: auto;
    width: 100%;
    background: white;
    padding-bottom: 10vw;
}
.mainContainer.sportContinent{
    height: auto;
    width: 100%;
    background: white;
    padding-bottom: 10vw;
}











section.sportsContainerPage.top{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 1vw;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}
section.sportsContainerPage.top hr{
    height: 0.5vw;
    background: black;
    width: 100%;
}


.sportsContentPage.top1{
    height: 20vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1vw;
    position: relative;
    background: gray;
}
.sportsContentPage.top1 img{
    height: auto;
    width: 100%;
}
.sportsContentPage.top2{
    height: auto;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}
.sprtscpt2.left{
    height: auto;
    width: 50%;
}
.sprtscpt2.left h3{
    line-height: 3.5vw;
}
.sprtscpt2.right{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 1.5vw;
    margin-bottom: 0.3vw;
}
.sprtscpt2.right input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8vw;
    width: 80%;
}
.sprtscpt2rBtn{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sprtscpt2rBtn button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 0.9vw;
}




section.sportsContainerPage.mid{
    height: auto;
    width: 100%;
    padding: 1vw 5vw;
}
.sportsContentPage.mid1{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}
.sprtscm1{
    height: auto;
    width: 24%;
    overflow: hidden;
    background: rgba(200, 200, 200);
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    margin: 0.5%;
}
.sprtscm1Img{
    height: 14vw;
    width: 100%;
    border-radius: 1vw;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.sprtscm1Img img{
    width: 100%;
}
.sprtscm1Content{
    height: auto;
    width: 100%;
    padding: 1vw;
    padding-bottom: 2vw;
}
.sprtscm1Content h5 {
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 0 5%;
    margin: 2% 0;
}
.sprtscm1Content p {
    font-size: 0.7vw;
    padding: 0 5%;
    color: gray;
}








/* Sports By Continent and Category */

section.sportCatContainerPage.top{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 1vw;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}
.sportCatContentPage.top2{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 1vw; */
}
.sprtcatntcpt2.left{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.sprtcatntcpt2.left a{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 3vw;
    margin-right: 1vw;
    color: gray;
}
.sprtcatntcpt2.left h4{
    text-transform: uppercase;
}
.sprtcatntcpt2.left h4 span{
    color: royalblue;
    font-family: "Oswald", sans-serif;
}
.sprtcatntcpt2.right{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 1.5vw;
}
.sprtcatntcpt2.right input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8vw;
    width: 80%;
}
.sprtcatntcpt2rBtn{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sprtcatntcpt2rBtn button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 0.9vw;
}



section.sportCatContainerPage.mid{
    height: auto;
    width: 100%;
    padding: 1vw 5vw;
}
.sportCatContainerPage.mid1{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}



.sportCatContainerPage.mid1 a{
    height: auto;
    width: 24%;
    overflow: hidden;
    background: rgba(200, 200, 200);
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    margin: 0.5%;
} 
.sprtctcpm2Img{
    height: 14vw;
    width: 100%;
    border-radius: 1vw;
    background: url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.sprtctcpm2Img img#nwspprctcpm2iFlag{
    position: absolute;
    top: 1vw;
    left: 1vw;
    height: 2vw;
    width: 3.5vw;
    border-radius: 0.2vw;
    border: solid 0.1px black;
    box-shadow: 0 0 10px gray;
}
.sprtctcpm2Img img#nwspprctcpm2iLogo{
    width: 100%;
}
.sprtctccpm2Dets{
    padding: 1vw;
}
.sprtctccpm2Dets h6{
    font-size: 1vw;
    line-height: 1.2vw;
    margin: 2% 0;
}
.sprtctccpm2Dets p{
    text-transform: capitalize;
    font-size: 0.7vw;
    padding: 0 5%;
    color: gray;
}
.sprtctccpm2Empty{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sprtctccpm2Empty span p{
    color: gray;
}
































@media screen and (max-width: 500px){
    section.sportsContainerPage.top{
        padding: 15vw 3vw;
        padding-bottom: 2vw;
    }
    section.sportsContainerPage.top hr{
        margin-top: 5vw;
        height: 1vw;
    }
    .sportsContentPage.top2{
        height: auto;
        width: 100%;
        display: block;
        margin-bottom: 2vw;
    }
    .sprtscpt2.left{
        height: auto;
        width: 100%;
        text-align: center;
    }
    .sprtscpt2.left h3{
        font-size: 10vw;
        line-height: 10vw;
    }
    .sprtscpt2.left h5{
        font-size: 4vw;
    }
    .sprtscpt2.right{
        height: auto;
        width: 100%;
        margin-top: 2vw;
    }
    .sprtscpt2.right input{
        font-size: 3.5vw;
        padding: 1% 3%;
        width: 80%;
    }
    .sprtscpt2rBtn {
        height: auto;
        width: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .sprtscpt2rBtn button {
        margin-right: 10%;
        font-size: 4vw;
    }




    section.sportsContainerPage.mid{
        padding: 5vw 3vw;
    }
    .sportsContentPage.mid1 {
        justify-content: space-between;
    }
    .sprtscm1{
        height: auto;
        width: 49%;
        margin: 0;
        margin-bottom: 2%;
        border-radius: 3vw;
    }
    .sprtscm1Img{
        height: 29vw;
        width: 100%;
        border-radius: 0vw;
    }
    .sprtscm1Content h5{
        font-size: 3vw;
        font-weight: 400;
        line-height: 3vw;
        padding: 0;
        margin: 3% 0;
    }
    .sprtscm1Content p {
        font-size: 2.5vw;
    }




    section.sportCatContainerPage.top{
        padding: 15vw 3vw;
        padding-bottom: 2vw;
    }
    .sportCatContentPage.top2{
        display: block;
    }
    .sprtcatntcpt2.left{
        height: auto;
        width: 100%;
        justify-content: space-between;
        text-align: center;
    }
    .sprtcatntcpt2.left a{
        font-size: 8vw;
    }
    .sprtcatntcpt2.left h4{
        width: 90%;
        font-size: 4vw;
    }
    .sprtcatntcpt2.right{
        height: auto;
        width: 100%;
        margin-top: 2vw;
    }
    .sprtcatntcpt2.right input{
        font-size: 3.5vw;
        padding: 1% 3%;
        width: 80%;
    }
    .sprtcatntcpt2rBtn{
        height: auto;
        width: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .sprtcatntcpt2rBtn button{
        margin-right: 10%;
        font-size: 4vw;
    }



    section.sportCatContainerPage.mid{
        padding: 5vw 3vw;
    }
    .sportCatContainerPage.mid1 {
        justify-content: space-between;
    }
    .sportCatContainerPage.mid1 a{
        height: auto;
        width: 49%;
        margin: 0;
        margin-bottom: 2%;
        border-radius: 3vw;
    }
    .sprtctcpm2Img{
        height: 29vw;
        width: 100%;
        border-radius: 0vw;
    }
    .sprtctcpm2Img img#nwspprctcpm2iFlag{
        top: 3vw;
        left: 3vw;
        height: 5vw;
        width: 8vw;
        border-radius: 1vw;
    }
    .sprtctccpm2Dets {
        padding: 2vw;
    }
    .sprtctccpm2Dets h6{
        font-size: 3vw;
        font-weight: 400;
        line-height: 3vw;
        padding: 0;
        margin: 3% 0;
    }
    .sprtctccpm2Dets p {
        font-size: 2.5vw;
        padding: 0;
    }
    .sprtctccpm2Empty{
        height: 100vw;
    }
    .sprtctccpm2Empty span p{
        font-size: 3vw;
    }









}







