h1, h2, h3, h4, h5, h6, p{
    color: black;
}
h1, h2, h3, h4, h5, h6{
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Oswald", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.travel{
    height: auto;
    width: 100%;
    background: white;
    padding-bottom: 10vw;
}
.mainContainer.travelContinent{
    height: auto;
    width: 100%;
    background: white;
    padding-bottom: 10vw;
}




section.travelContainerPage.top{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 1vw;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}
section.travelContainerPage.top hr{
    height: 0.5vw;
    background: black;
    width: 100%;
}
.travelContentPage.top1{
    height: 20vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1vw;
    position: relative;
}
.travelContentPage.top1 video{
    height: auto;
    width: 100%;
}
.travelContentPage.top2{
    height: auto;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}
.trvlcpt2.left{
    height: auto;
    width: 50%;
}
.trvlcpt2.left h3{
    line-height: 3.5vw;
}
.trvlcpt2.right{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 1.5vw;
    margin-bottom: 0.3vw;
}
.trvlcpt2.right input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8vw;
    width: 80%;
}
.trvlcpt2rBtn{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.trvlcpt2rBtn button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 0.9vw;
}


section.travelContainerPage.mid{
    height: auto;
    width: 100%;
    padding: 1vw 5vw;
}
.travelContentPage.mid1{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}
.trvlcm1{
    height: auto;
    width: 24%;
    overflow: hidden;
    background: rgba(200, 200, 200);
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    margin: 0.5%;
}
.trvlcm1Img{
    height: 14vw;
    width: 100%;
    border-radius: 1vw;
    background: url('../assets/imgs/TDULandingBG.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.trvlcm1Img img{
    width: 100%;
}
.trvlcm1Content{
    height: auto;
    width: 100%;
    padding: 1vw;
    padding-bottom: 2vw;
}
.trvlcm1Content h5 {
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 0 5%;
    margin: 2% 0;
}
.trvlcm1Content p {
    font-size: 0.7vw;
    padding: 0 5%;
    color: gray;
}





/* Travel By Continent and Category */

section.travelCatContainerPage.top{
    height: auto;
    width: 100%;
    padding: 5vw;
    padding-bottom: 1vw;
    background: 
        linear-gradient(whitesmoke 0%, transparent),
        linear-gradient(transparent, white 100%),
        url('../assets/imgs/TheDailyUniverseBG.png') no-repeat center;
    background-size: cover;
}
.travelCatContentPage.top2{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 1vw; */
}
.trvlcatntcpt2.left{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.trvlcatntcpt2.left a{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 3vw;
    margin-right: 1vw;
    color: gray;
}
.trvlcatntcpt2.left h4{
    text-transform: uppercase;
}
.trvlcatntcpt2.left h4 span{
    color: royalblue;
    font-family: "Oswald", sans-serif;
}
.trvlcatntcpt2.right{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    padding: 0.3vw 1.5vw;
}
.trvlcatntcpt2.right input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8vw;
    width: 80%;
}
.trvlcatntcpt2rBtn{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.trvlcatntcpt2rBtn button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 0.9vw;
}


section.travelContContainerPage.mid{
    height: auto;
    width: 100%;
    padding: 1vw 5vw;
}
.travelContContentPage.mid1{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}
.trvlcntntcpm1{
    height: auto;
    width: 24%;
    overflow: hidden;
    border: solid 0.2vw rgba(200, 200, 200);
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    padding: 1vw 1.5vw;
    margin: 0.5%;
    position: relative;
}
.trvlcntntcpm1 ul{
    margin-top: 1vw;
    text-align: left;
    list-style: none;
    padding-bottom: 1vw;
}
.trvlcntntcpm1 ul li{
    display: flex;
    justify-content: left;
    align-items: center;
}
.trvlcntntcpm1 ul li img{
    height: 1.5vw;
    width: 2.5vw;
    border-radius: 0.2vw;
    border: solid 0.1vw black;
}
.trvlcntntcpm1 ul li button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5vw;
    font-size: 0.9vw;
}
.trvlcntntcpm1Empty{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.trvlcntntcpm1Empty span p{
    color: gray;
}









@media screen and (max-width: 500px){
    section.travelContainerPage.top{
        padding: 15vw 5vw;
        padding-bottom: 2vw;
    }
    section.travelContainerPage.top hr{
        margin-top: 5vw;
        height: 1vw;
    }
    .travelContentPage.top2{
        height: auto;
        width: 100%;
        display: block;
        margin-bottom: 2vw;
    }
    .trvlcpt2.left{
        height: auto;
        width: 100%;
        text-align: center;
    }
    .trvlcpt2.left h3{
        font-size: 10vw;
        line-height: 10vw;
    }
    .trvlcpt2.left h5{
        font-size: 4vw;
    }
    .trvlcpt2.right{
        height: auto;
        width: 100%;
        margin-top: 2vw;
    }
    .trvlcpt2.right input{
        font-size: 3.5vw;
        padding: 1% 3%;
        width: 80%;
    }
    .trvlcpt2rBtn {
        height: auto;
        width: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .trvlcpt2rBtn button {
        margin-right: 10%;
        font-size: 4vw;
    }




    section.travelContainerPage.mid{
        padding: 5vw;
    }
    .travelContentPage.mid1 {
        justify-content: space-between;
    }
    .trvlcm1{
        height: auto;
        width: 49%;
        margin: 0;
        margin-bottom: 2%;
        border-radius: 3vw;
    }
    .trvlcm1Img{
        height: 29vw;
        width: 100%;
        border-radius: 0vw;
    }
    .trvlcm1Content h5{
        font-size: 3vw;
        font-weight: 400;
        line-height: 3vw;
        padding: 0;
        margin: 3% 0;
    }
    .trvlcm1Content p {
        font-size: 2.5vw;
    }






    section.travelCatContainerPage.top{
        padding: 15vw 5vw;
        padding-bottom: 2vw;
    }
    .travelCatContentPage.top2{
        display: block;
    }
    .trvlcatntcpt2.left{
        height: auto;
        width: 100%;
        justify-content: space-between;
        text-align: center;
    }
    .trvlcatntcpt2.left a{
        font-size: 8vw;
    }
    .trvlcatntcpt2.left h4{
        width: 90%;
        font-size: 4vw;
    }
    .trvlcatntcpt2.right{
        height: auto;
        width: 100%;
        margin-top: 2vw;
    }
    .trvlcatntcpt2.right input{
        font-size: 3.5vw;
        padding: 1% 3%;
        width: 80%;
    }
    .trvlcatntcpt2rBtn{
        height: auto;
        width: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .trvlcatntcpt2rBtn button{
        margin-right: 10%;
        font-size: 4vw;
    }



    section.travelContContainerPage.mid{
        padding: 5vw;
    }
    .travelContContentPage.mid1{
        justify-content: space-between;
    }
    .trvlcntntcpm1{
        height: auto;
        width: 49%;
        margin: 0;
        padding: 2vw;
        margin-bottom: 2%;
        border-radius: 3vw;
    }
    .trvlcntntcpm1 h4{
        font-size: 4vw;
        font-weight: 400;
        line-height: 5vw;
    }
    .trvlcntntcpm1 h6{
        font-size: 2.5vw;
        font-weight: 400;
    }
    .trvlcntntcpm1 ul{
        margin-top: 5vw;
    }
    .trvlcntntcpm1 ul li{
        margin-bottom: 2vw;
    }
    .trvlcntntcpm1 ul li img{
        height: 6vw;
        width: 10vw;
        border-radius: 1vw;
    }
    .trvlcntntcpm1 ul li button{
        padding: 1vw 2vw;
        font-size: 2.5vw;
    }
    .trvlcntntcpm1Empty{
        height: 100vw;
    }
    .trvlcntntcpm1Empty span p{
        font-size: 3vw;
    }







}